    
<div class="nested-fields">

  <div class="field">
    <%= f.label :option_description %>
    <%= f.text_field :option_description %>
  </div>

  <div class="field">
    <%= f.label :correct %>
    <%= f.check_box :correct %>
  </div>
  <%= link_to_remove_association "remove option", f %>

</div>
    
