<p id="notice"><%= notice %></p>

<h1>Quiz</h1>

<% @paths.each do |path| %>
    <p><%= current_student.email %> está matriculado na trilha:</p>
    <p>Trilha: <%= path.title %> - Questões: <%= path.questions.count %></p>
  
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalQuiz">
    Resolver
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modalQuiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <% @questions.each do |question| %>
                <ul>
                    <li>
                        <%= form_with(model: @quiz, local: true) do |form| %>

                            <%= question.path.title %>
                            <%= question.order %>
                            <br>
                            <%= question.question_description %>
                            
                            <div class="field">
                                <%= form.label :question_option_id %>
                                <%= collection_radio_buttons(:quiz, :question_option_id, question.question_options.all, :id, :option_description, {}, {:class =>'form-check-input'} ) do |b| %>
                                    <div class="form-check">
                                        <%= b.label(:class => 'form-check-label')  do %>
                                            <%= b.radio_button + b.text %>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>

                            <div class="actions">
                                <%= form.submit %>
                            </div>
                        <% end %>
                        
                    </li>
                </ul>
            
            <% end %>
        </div>
        
        </div>
    </div>
    </div>

<% end %>