<%= form_with(model: question_option, local: true) do |form| %>
  <% if question_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_option.errors.count, "error") %> prohibited this question_option from being saved:</h2>

      <ul>
      <% question_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :question_id %>
    <%= collection_select(:question_option, :question_id, Question.all, :id, :question_description, {}, {:class =>'form-control'} )%>
  </div>


  <div class="field">
    <%= form.label :option_description %>
    <%= form.text_field :option_description %>
  </div>

  <div class="field">
    <%= form.label :correct %>
    <%= form.check_box :correct %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
