<p id="notice"><%= notice %></p>
<p>
  <strong>Question:</strong>
  <%= @question_option.question.question_description %>
</p>

<p>
  <strong>Option description:</strong>
  <%= @question_option.option_description %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @question_option.correct %>
</p>


<%= link_to 'Edit', edit_question_option_path(@question_option) %> |
<%= link_to 'Back', question_options_path %>
